@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Gray */
    --gray-50: 210 20% 98%;
    --gray-100: 220 14.3% 95.9%;
    --gray-200: 220 13% 91%;
    --gray-300: 216 12.2% 83.9%;
    --gray-400: 217.9 10.6% 64.9%;
    --gray-500: 220 8.9% 46.1%;
    --gray-600: 215 13.8% 34.1%;
    --gray-700: 216.9 19.1% 26.7%;
    --gray-800: 215 27.9% 16.9%;
    --gray-900: 220.9 39.3% 11%;
    --gray-950: 224 71.4% 4.1%;

    /* Zinc */
    --zinc-50: 0 0% 98%;
    --zinc-100: 240 4.8% 95.9%;
    --zinc-200: 240 5.9% 90%;
    --zinc-300: 240 4.9% 83.9%;
    --zinc-400: 240 5% 64.9%;
    --zinc-500: 240 3.8% 46.1%;
    --zinc-600: 240 5.2% 33.9%;
    --zinc-700: 240 5.3% 26.1%;
    --zinc-800: 240 3.7% 15.9%;
    --zinc-900: 240 5.9% 10%;
    --zinc-950: 240 10% 3.9%;
  }
}
@layer base {
  :root {
    --background: var(--gray-900);
    --foreground: var(--zinc-50);

    --card: var(--white);
    --card-foreground: var(--zinc-950);

    --popover: var(--white);
    --popover-foreground: var(--zinc-950);

    --primary: var(--gray-900);
    --primary-foreground: var(--gray-50);

    --secondary: var(--gray-100);
    --secondary-foreground: var(--gray-900);

    --muted: var(--gray-100);
    --muted-foreground: var(--gray-500);

    --accent: var(--gray-100);
    --accent-foreground: var(--gray-900);

    --destructive: var(--destructive);
    --destructive-foreground: var(--gray-50);

    --border: var(--gray-200);
    --input: var(--gray-200);
    --ring: var(--zinc-950);
    
    --radius: 0.5rem;
  }

  /* .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
